<section class="servicio-hero">
  <video autoplay muted loop playsinline>
    <source src="videos/ortodoncia.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>

  <div class="hero-text">
    
    
  </div>
</section>

<section class="servicio-info">
  <h1>Tu camino hacia una sonrisa perfecta comienza aqui</h1>
  <h2>¿Qué es la ortodoncia?</h2>
  <p>
    La ortodoncia es la clave para una mordida funcional y una vida sin molestias.
    Al corregir la posición de tus dientes, no solo mejoras tu estética, sino que previenes
    el desgaste dental, facilitas la higiene y evitas dolores articulares o de cabeza. Invierte
    en tu salud a largo plazo con un tratamiento diseñado a tu medida.
  </p>

  <ul>
    <li>✔ Brackets metálicos y estéticos</li>
    <li>✔ Alineadores invisibles</li>
    <li>✔ Tratamientos para adultos y niños</li>
  </ul>
</section>

<section class="galeria">
  <h2>Resultados</h2>

  <div class="galeria-grid">
    <img src="images/ortodoncia/ortodoncia1.jpg">
    <img src="images/ortodoncia/ortodoncia2.jpg">
    <img src="images/ortodoncia/ortodoncia3.jpg">
  </div>
</section>

