<section class="servicio-hero">
  <video autoplay muted loop playsinline>
    <source src="videos/ortodoncia.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>

  <div class="hero-text">
    
    
  </div>
</section>

<section class="servicio-info">
  <h2>¿Qué es el blanqueamiento dental?</h2>
  <p>
    El blanqueamiento dental es un tratamiento de odontología estética que aclara las piezas dentales, para alcanzar el color
    y brillo original de los pacientes. Es uno de los procedimientos más solicitados en odontología
    debido a que es asequible, no presenta efectos secundarios y sus resultados pueden durar por muchos
    años. 
  </p>

  <ul>
    <li>✔ Devuélvele el blanco natural a tu sonrisa</li>
    <li>✔ La ciencia de una sonrisa más blanca y segura</li>
    <li>✔ Sonrisa de impacto: Blancura real sin dañar tu esmalte</li>
  </ul>
</section>

<section class="galeria">
  <h2>Resultados</h2>

  <div class="galeria-grid">
    <img src="images/blanquiamiento/blanco1.jpg">
    <img src="images/blanquiamiento/blanco2.jpg">
    <img src="images/blanquiamiento/blanco3.jpg">
  </div>
</section>

