
<section class="hero-video">

  <video autoplay muted loop playsinline>
    <source src="videos/diseñosonrisa.mp4" type="video/mp4">
    Tu navegador no soporta video HTML5
  </video>

  <div class="overlay"></div>

  <div class="hero-content">
    
    

    
  </div>

</section>

<!-- SERVICIOS -->
<section class="servicios">
  <h2>Nuestros Servicios</h2>

  


  <div class="servicios-grid">

    <!-- DISEÑO DE SONRISA -->
    <a routerLink="/servicios/diseno-sonrisa" class="card">
      <img src="images/diseño.jfif" alt="Diseño de sonrisa">
      <h3>Diseño de Sonrisa</h3>
      <p>
        Mejoramos la forma, color y alineación de tus dientes para lograr
        una sonrisa armónica y natural.
      </p>
    </a>

    <!-- BLANQUEAMIENTO -->
    <a routerLink="/servicios/blanqueamiento" class="card">
      <img src="images/blanquiamiento.jfif" alt="Blanqueamiento dental">
      <h3>Blanqueamiento Dental</h3>
      <p>
        Tratamiento seguro y efectivo para aclarar el tono de tus dientes
        y devolverles su brillo natural.
      </p>
    </a>

    <!-- ORTODONCIA -->
    <a routerLink="/servicios/ortodoncia" class="card">
      <img src="images/ortodoncia.jpg" alt="Ortodoncia">
      <h3>Ortodoncia</h3>
      <p>
        Corregimos la posición de los dientes y la mordida para mejorar
        tanto la estética como la función dental.
      </p>
    </a>

  </div>
</section>




