<section class="servicio-hero">
  <video autoplay muted loop playsinline>
    <source src="videos/ortodoncia.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>

  <div class="hero-text">
    
    
  </div>
</section>

<section class="servicio-info">
  <h2>Diseñamos la sonrisa que siempre soñaste.</h2>
  <p>
    Un diseño de sonrisa no es solo un procedimiento estético, es un estudio detallado de tus rasgos faciales para crear una 
    dentadura armónica y natural. Mediante el uso de carillas de porcelana o resina, corregimos forma, tamaño y color, logrando 
    un cambio radical que resalta tu belleza auténtica. ¡Es hora de mostrar tu mejor versión!
  </p>

  <ul>
    <li>✔ Armonía facial y dental en un solo lugar</li>
    <li>✔ Tecnología y estética al servicio de tu expresión</li>
    <li>✔ Tu mejor versión comienza con una sonrisa renovada</li>
  </ul>
</section>

<section class="galeria">
  <h2>Resultados</h2>

  <div class="galeria-grid">
    <img src="images/diseno-sonrisa/diseño3.jpg">
    <img src="images/diseno-sonrisa/diseño2.jpg">
    <img src="images/diseno-sonrisa/diseño1.jpg">
  </div>
</section>


